{% extends 'base.html' %}
{% import 'bootstrap5/form.html' as BSform %}
{% block scripts %}
    {{ super() }}
<script type="text/javascript" src="static/flasksite.js" xmlns="http://www.w3.org/1999/html">
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}


{% block app_content %}
<div class="row">
    <div class="col-md">
        {% if not name %}
        <h1>
            Hello!
        </h1>
        <p> Thank you very much for helping me! To teach robots to evaluate the environments they operate in, I am making a machine learning model which can interpret the ways in which different objects can be used. To do this, need to know the uses of a lot of common objects. By linking these 'uses' (also called <i>affordances</i>) you can help me make better robots!
            <br> <br>
            On this website, you will see an object name and are able to indicate to what use you would put that object. You can select multiple affordances, as some objects can be used for multiple things. Here is an example of what this looks like:
            <br><br>
            <div class="page-header">
                <h3> Water bottle </h3>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h5><input type="checkbox"> Moveable </h5>
                </div>
                <div class="card-body"> This object:<br> <input type="checkbox"> can be picked up</div>
            </div>

            <br><br>
            To get started, fill in a username in the box below. Filling in a username prevents you from seeing the same object label more than once. To remember your progress, your username is saved in a cookie. By filling in a username, you agree with the placement of the cookie.

        </p> <br> <h2> Thank you very much for helping!</h2>

        {% elif currentObject %}

        <div class="container">
            <h5>
                Username: {{ name }}
            </h5>
            <hr/>
            <br>
            <h5>
                Current object:
            </h5>
            <br>
            <div class="page-header">
                <h1> {{ currentObject[0] }} </h1>
            </div>
        {% endif %}
            <br>
            <br>
            <form id="mainform" class="form form-horizontal, col-md" method="POST" action="/" style="padding:20px">

                {% if not name %}
<!--                <div class="row">-->
                    <div class="form-group">
                        <input type="checkbox" id="consentbutton" required>
                        I consent to participating in the study and to the placement of a cookie. <br><br>
                        {{ BSform.render_field(form.annotatorNamefield) }}
                        {{ BSform.render_field(form.submitName) }}
                    </div>
<!--                </div>-->
                {% endif %}

                {% if name %}


                {% for form, highlevel in zip(forms[2:], forms[0].keys()) %}
                <div class="row">
                    <div class="col">
                        <div class="card" >
                            <div class="card-header">
                            <h5><input class="form-check-input mt-0" type="checkbox" id="{{ highlevel }}"> {{ forms[0][highlevel] }}  </h5>
                            </div>
                            <div class="card-body"> The {{ currentObject }}:<br>
                                {% for item in form.keys() %}
                                <div class="input-group">
                                  <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Radio button for following text input">
                                  </div>
                                  <span class="input-group-text bg-white">{{ form[item][0] }}</span>
                                  <span class="input-group-text bg-white text-muted">{{ form[item][1] }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}


                {% endif %}
                {% if currentObject %}

                <div class="row">
                    <div class="col-md">
                        <span id="errormessage" style="color:red;display:None;">Als het bericht een uitdrukking van empathie is moeten de soort en de emotie aangegeven worden.</span>
                        <br>
                        <span id="submitmessage"></span>
                    </div>
                    <div class="col-md">
                    <button class="btn btn-secondary" onclick="window.history.back();" style="display: flex;justify-content: center;align-items: center;"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="currentColor" d="M7,12L12,7V10H16V14H12V17L7,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12Z" />
                    </svg> Back</button> </div>
                    <div class="col-md">
<!--                         BSform.render_field(form.submit) -->
                    </div>
                </div>
                {% endif %}
            </form>
            <div class="container">
            <div class="row">
                <br><br>
                <b>Questions?</b>
                <p>Mail <a href="mailto:l.schootuiterkamp@student.utwente.nl">Luc Schoot Uiterkamp</a></p>
            </div>
            <a href="https://www.utwente.nl/" target="_blank">
                <img src="{{url_for('static', filename='UT_Logo_2400_Black_EN.png')}}" style="display: block;margin-left: auto;  margin-right: auto;  width: 35%;">
            </a>
        </div>
        </div>
    </div>
</div>

{% endblock %}