{% extends 'base.html' %}
{% import 'bootstrap5/form.html' as BSform %}
{% block scripts %}
    {{ super() }}
<script type="text/javascript" src="static/flasksite.js" xmlns="http://www.w3.org/1999/html">
</script>

{% endblock %}


{% block app_content %}
<!--<div class="container">-->
<!--    <div class="col">-->
        {% if not name %}
        <h1>
            Hello!
        </h1>
        <p> Thank you very much for helping me! To teach robots to evaluate the environments they operate in, I am making a machine learning model which can interpret the ways in which different objects can be used.
            To do this, I need to know the uses of a lot of common objects. By linking these 'uses' (also called <i>affordances</i>) you can help me make better robots!
            <br> <br>
            On this website, you will see an object name and are able to indicate to what use you would put that object. You can select multiple affordances, as some objects can be used for multiple things. Here is an example of what this looks like:
            <br><br>
            <hr/>
            <div class="page-header">
                <h1> Water bottle </h1>
            </div>
            <br>
            <div class="row" style="padding-top:15px;">
                <div class="input-group flex-nowrap">
                  <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="">
                  </div>

                  <span class="input-group-text bg-white" style="white-space:normal;">Misspelled word/meaning of the word unclear</span>
                </div>
            </div>
            <br>
            <div class="card" >
                <div class="card-header">
                    <div class="input-group flex-nowrap" >
                        <div class="input-group-text" style="background-color:inherit; border-style: none;">
                            <input class="form-check-input mt-0"  type="checkbox" id="con_move" value="0" >
                        </div>
                        <span class="input-group-text" style="white-space:normal; background-color:inherit; border-style: none;"><h5 style="margin-bottom:0;">can be moved in an unconstrained manner </h5></span>
                    </div>
                </div>
                <div class="card-body"> The Water bottle:<br>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0 con_move" type="checkbox" value="" aria-label="Radio button for following text input">
                        </div>
                      <span class="input-group-text bg-white" style="white-space:normal;">can be carried</span>
                      <span class="input-group-text bg-white text-muted" style="white-space:normal;">small objects eg. pen, book</span>
                    </div>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0 con_move" type="checkbox" value="" aria-label="Radio button for following text input">
                          </div>
                      <span class="input-group-text bg-white" style="white-space:normal;">can serve to pour something out of</span>
                      <span class="input-group-text bg-white text-muted" style="white-space:normal;">eg. cup, flask</span>
                    </div>
                </div>
            </div>
            <hr/>
            <br><br>
            Please keep in mind what the object usually is meant to afford. For example, a wall <i>can</i> be pushed, but this usually achieves nothing. For this reason, 'wall' is not annotated as 'pushable'. On the other hand, a water bottle needs to be picked up in order to be used, hence it should be labeled as such. Objects can have multiple affordances, the water bottle for example not only affords picking up, but also pouring out of.

            <br><br>
            To get started, fill in a username in the box below. Filling in a username prevents you from seeing the same object label more than once. To remember your progress, your username is saved in a cookie. By filling in a username, you agree with the placement of the cookie.

        </p> <br> <h2> Thank you very much for helping!</h2>

        {% elif currentObject %}

        <div class="container">
            <h5>
                Username: {{ name }}
            </h5>
            <hr/>
            <br>
            <h5>
                Current object:
            </h5>
            <br>
            <div class="page-header">
                <h1> {{ currentObject[0] }} </h1>
            </div>
        {% endif %}

            <form id="mainform" class="form form-horizontal, col" method="POST" action="/" >

                {% if not name %}
                <input id="name_form" name="form_type" value="name" hidden>
                <div class="input-group flex-nowrap">
                  <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" required value="" aria-label="Radio button for following text input">
                  </div>
                    <span class="input-group-text bg-white" style="white-space:normal;">I consent to participating in the study and to the placement of a cookie.</span>

                </div>
                <input type="text" class="form-control" name="annotatorName" placeholder="Username" aria-label="Username" required>
                <div class="col d-flex flex-row">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                </div>
                {% endif %}

                {% if name %}
                <input id="aff_form" name="form_type" value="aff" hidden>
                <input id="currentObject" name="currentObject" value="{{ currentObject[0] }}" hidden>
                <input name="annotatorName" value="{{ name }}" hidden>
                <br>
                {% for item in forms[1].keys() %}
                <div class="row" style="padding-top:15px;">
                    <div class="input-group flex-nowrap">
                      <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value="0" id="{{  item }}" name="{{ item }}">
                      </div>
                      <span class="input-group-text" style="white-space:normal; background-color:inherit;">{{ forms[1][item] }}</span>
                    </div>
                 </div>
                {% endfor%}
                {% for form, highlevel in zip(forms[2:], forms[0].keys()) %}
                <div class="row" style="padding-top:15px;">
                    <div class="col">
                        <div class="card" >
                            <div class="card-header">
                                <div class="input-group flex-nowrap" >
                                    <div class="input-group-text" style="background-color:inherit; border-style: none;">
                                        <input class="form-check-input mt-0"  type="checkbox" name="{{ highlevel }}" id="{{ highlevel }}" >
                                    </div>
                                    <span class="input-group-text" style="white-space:normal; background-color:inherit; border-style: none;"><h5 style="margin-bottom:0;">{{ forms[0][highlevel] }}</h5></span>
                                </div>
                            </div>
                            <div class="card-body"> The {{ currentObject[0] }}:<br>
                                {% for item in form.keys() %}


                                <div class="input-group flex-nowrap">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0 {{ highlevel }}" type="checkbox" id="{{ item }}" name="{{ item }}">
                                    </div>
                                  <span class="input-group-text bg-white" style="white-space:normal;">{{ form[item][0] }}</span>
                                  <span class="input-group-text bg-white text-muted" style="white-space:normal;">{{ form[item][1] }}</span>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}



                {% endif %}
                {% if currentObject %}

<!--                <div class="row">-->
<!--                    <div class="col-md">-->
<!--                        <span id="errormessage" style="color:red;display:None;">Als het bericht een uitdrukking van empathie is moeten de soort en de emotie aangegeven worden.</span>-->
<!--                        <br>-->
<!--                        <span id="submitmessage"></span>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row">
                    <div class="col d-flex flex-row">
<!--                        <div class="input-group">-->
                            <button class="btn btn-secondary btn-lg" onclick="window.history.back();" style="display: flex;justify-content: center;align-items: center;"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="currentColor" d="M7,12L12,7V10H16V14H12V17L7,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12Z" />
                    </svg> Back</button>
<!--                        </div>-->
                    </div>
                    <div class="col d-flex flex-row-reverse">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </div>
                {% endif %}
            </form>
            <div class="container">
                <div class="row">
                    {% if currentObject %}
                    <h6 style="padding-top:1em;">Don't overthink it! Go with what you think is normal for this object.</h6>
                    {% endif %}
                    <br><br>
                    <b>Questions?</b>
                    <p>Mail <a href="mailto:l.schootuiterkamp@student.utwente.nl">Luc Schoot Uiterkamp</a></p>
                </div>
                <a href="https://www.utwente.nl/" target="_blank">
                    <img src="{{url_for('static', filename='UT_Logo_2400_Black_EN.png')}}" style="display: block;margin-left: auto;  margin-right: auto;  width: 35%;">
                </a>
            </div>
        </div>
<!--    </div>-->
<!--</div>-->

{% endblock %}